# Examen Parcial n°1 2da Parte - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).


### Criterios de Evaluación:

1. No esta permitido el uso de IAs durante el examen. (Desactivar Copilot o cualquier herramienta de IA para autocompletar codigo.)

2. Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).

3. Comentarios claros y concisos que expliquen el propósito de cada sección del código en una celda de markdown antes del código.

4. Utilizar mensajes de commit descriptivos. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).

5. Entrega en tiempo y forma (Parciales entregados fuera de hora o con commits pasados el horario de entrega quedará invalidado.)

6. Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: 
**parcial1_tlp3_nombre_apellido**).

7. Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter.

8. Deben trabajar con el datasets adjunto.

9. Una vez finalizado el examen, los resultados deben quedar guardados debajo de cada celda (NO EJECUTAR LA OPCIÓN "borrar todas las salidas").

**Importante:** Una vez finalizado el examen, marcar como completado en el classroom.

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de VOTACIONES en un Datasets.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. 
- 2.1: Visualizar las primeras filas y ultimas.
- 2.2: Obtener informacion del df con su metodo correspondiente.
- 2.3: Hacer un conteo de valores nulos.

### 3. Limpieza y Normalización de los Datos

- 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
- 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
- 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.)
- 3.4: En el caso de los votos, aplicar mayusculas a cada fila.
- 3.5 EL campo DNI debe ser del tipo INT.


### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben hacer lo siguiente: 

- 4.1: calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos.
- 4.2: Calcular estadísticas específicas por grupo (Agrupar dos columnas).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear **UNA** visualización que permitan comprender mejor los datos de ventas.El grafico es a elección, puede crear **UNO** de los siguientes: histogramas, diagramas de dispersión, gráficos de barras y graficos de torta.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Deben hacer una conexión y hacer una consulta para ver si los datos fueron cargados correctamente.

## Iportaciones
 Pandas para manipular el DataFrame y Matplotlib para la visualización de gráficos

In [51]:
import pandas as pd
import matplotlib.pyplot as plt

### Importamos el Dataset con Pandas

In [52]:
df = pd.read_csv("votaciones.csv")

### 2. Exploración Inicial de los Datos

Visualización de las primeras filas

In [53]:
df.head()

    nombre apellido         dni     provincia  voto fecha_votacion
0  pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1   albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2      NaN   solano  49179364.0       neuquen  nulo     2024-05-20
3   salomé   barrio  43725639.0  buenos aires   NaN     05-06-2024
4   matías  esteban  30599927.0         chaco    no     10-07-2023

Visualización de las últimas filas

In [54]:
df.tail()

       nombre apellido         dni provincia  voto fecha_votacion
96      carla    vidal  15161718.0  misiones  nulo     2023-09-12
97   federico  barrios  16171819.0   neuquen    no     11-09-2023
98      belen     vera  17181920.0   tucuman    sí     2023-09-10
99    gustavo    gauna  18192021.0  santa fe  nulo     09-09-2023
100     rocio    avila  19202122.0   formosa    no     08-09-2023

Obtener información de Dataframe

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          91 non-null     object
 1   apellido        94 non-null     object
 2   dni             90 non-null     float64
 3   provincia       95 non-null     object
 4   voto            96 non-null     object
 5   fecha_votacion  95 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.9+ KB

Conteo de valores nulos en caso de que haya

In [56]:
df.isnull().sum()

nombre            10
apellido           7
dni               11
provincia          6
voto               5
fecha_votacion     6
dtype: int64

### 3. Limpieza y Normalización de los Datos

Rellenar valores faltantes en las columnas nombre y apellido con la palabra desconocido

In [57]:
df["nombre"].fillna("desconocido",inplace=True)
df["apellido"].fillna("desconocido",inplace=True)
df.head()

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_15372\2309332916.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["nombre"].fillna("desconocido",inplace=True)
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_15372\2309332916.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["apellido"].fillna("desconocido",inplace=True)

        nombre apellido         dni     provincia  voto fecha_votacion
0      pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1       albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2  desconocido   solano  49179364.0       neuquen  nulo     2024-05-20
3       salomé   barrio  43725639.0  buenos aires   NaN     05-06-2024
4       matías  esteban  30599927.0         chaco    no     10-07-2023

Rellenar los valores faltantes en la columna dni con mediana de los valores ya existentes

In [58]:
df["dni"].fillna(df["dni"].median(),inplace=True)
df.head(5)

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_15372\1391375184.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["dni"].fillna(df["dni"].median(),inplace=True)

        nombre apellido         dni     provincia  voto fecha_votacion
0      pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1       albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2  desconocido   solano  49179364.0       neuquen  nulo     2024-05-20
3       salomé   barrio  43725639.0  buenos aires   NaN     05-06-2024
4       matías  esteban  30599927.0         chaco    no     10-07-2023

convertir la columna fecha_votación a datetime

In [59]:
df["fecha_votacion"] = pd.to_datetime(df["fecha_votacion"], errors="coerce")
df.head()

        nombre apellido         dni     provincia  voto fecha_votacion
0      pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1       albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2  desconocido   solano  49179364.0       neuquen  nulo     2024-05-20
3       salomé   barrio  43725639.0  buenos aires   NaN            NaT
4       matías  esteban  30599927.0         chaco    no            NaT

Eliminar filas con valores faltantes en fecha_votación , voto y provincia

In [60]:
df.dropna(subset=["fecha_votacion","voto","provincia"],inplace=True)
df.head()

         nombre apellido         dni     provincia  voto fecha_votacion
0       pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1        albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2   desconocido   solano  49179364.0       neuquen  nulo     2024-05-20
7       brígida   angulo  22169546.0         chaco    no     2024-05-02
10     verónica   posada  35293135.0      santa fe    no     2024-09-15

convertir nombre, apellido y provincia a mayúsculas

In [61]:
df["nombre"] = df["nombre"].str.title()
df["apellido"] = df["apellido"].str.title()
df["provincia"] = df["provincia"].str.title()
df.head()

         nombre apellido         dni     provincia  voto fecha_votacion
0       Pánfilo    Pombo  34787190.0  Buenos Aires  nulo     2024-11-22
1        Albina  Heredia  48336819.0      Santa Fe  nulo     2024-04-24
2   Desconocido   Solano  49179364.0       Neuquen  nulo     2024-05-20
7       Brígida   Angulo  22169546.0         Chaco    no     2024-05-02
10     Verónica   Posada  35293135.0      Santa Fe    no     2024-09-15

mayúsculas a cada fila en la columna voto

In [62]:
df["voto"] = df["voto"].str.upper()
df.head()

         nombre apellido         dni     provincia  voto fecha_votacion
0       Pánfilo    Pombo  34787190.0  Buenos Aires  NULO     2024-11-22
1        Albina  Heredia  48336819.0      Santa Fe  NULO     2024-04-24
2   Desconocido   Solano  49179364.0       Neuquen  NULO     2024-05-20
7       Brígida   Angulo  22169546.0         Chaco    NO     2024-05-02
10     Verónica   Posada  35293135.0      Santa Fe    NO     2024-09-15

convertir la columna dni a int

In [63]:
df["dni"] = df["dni"].astype(int)

### 4. Obtención de Estadísticas Descriptivas

Estadíticas descriptivas generales

In [64]:
df.describe()

                dni                 fecha_votacion
count  3.800000e+01                             38
mean   3.636498e+07  2024-02-29 22:44:12.631578880
min    1.122334e+07            2023-05-13 00:00:00
25%    2.180261e+07            2023-09-27 06:00:00
50%    3.245238e+07            2023-10-13 12:00:00
75%    4.739178e+07            2024-07-03 06:00:00
max    9.900112e+07            2025-04-26 00:00:00
std    2.264981e+07                            NaN

Agrupar por provincia, voto y calcular estadisticas descriptivas del dni

In [ ]:
estadisticas_grupo = df.groupby(["provincia","voto"])["dni"].describe()
print(estadisticas_grupo)